figcaption.center {
text-align: center;
}
html {
    font-size: 20px;
    font-family: 'Open-san' , sans-serif;
    background-color: #020f1c;

}
body {
    width: 900px;
    margin: 0 auto;
    background-color: #f1d4ff;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(49, 6, 90);
}
h1 {
    font-size: 60px;
    text-align: center;
    margin:0;
    padding: 10px 0;
    color: #322079;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
iframe.figma {
    display: block;
    margin-right:auto;
    margin-left: auto;
    border: 1px solid black;
}
.ulNav {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}
.liNav {
    /* display: block; */
    float: left;
    color: #322079;
    text-align: center;
    padding:20px 5px;
    text-decoration: none;
}

.aNav {
    /* display: block; */
    color: #502ddd;
    text-align: center;
    padding:20px 1px;
    text-decoration: none;
    /* cursor:url(/image/target3.png), auto; */
    font-family: fantasy;
    font-size: 30px;
}

li a:hover:not(.active) {
    /* background-image: url(/image/target5.png); */
    background-color: yellow;
    color: black;
}
a.active {
    /* background-image: url(/image/broken3.png); */
    background-color: purple;
    color: white;
}
div.font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.paddingleft {
    padding-left: 40px;
}
li.list {
    padding: 5px;
}
img {
    display: block;
    margin: 0 auto;
    padding: 5px;
}
a.dragon {
    display: block;
    background-image: url(/image/dragon.png);
    background-repeat:round;
}